{% extends "wintertrackfest/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p><a href="https://www.athletic.net/TrackAndField/MeetResults.aspx?Meet=117593">View results on Athletic.net</a></p>
        </div>
    </div>
{% endblock %}