{% extends "wintertrackfest/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4>A time schedule for events will be posted closer to meet day.</h4>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Individual Events
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Girls 3200 Meter Run</li>
                    <li class="list-group-item">Boys 3200 Meter Run</li>
                    <li class="list-group-item">Boys 55 Meter Hurdles</li>
                    <li class="list-group-item">Girls 55 Meter Hurdles</li>
                    <li class="list-group-item">Boys 55 Meter Dash</li>
                    <li class="list-group-item">Girls 55 Meter Dash</li>
                    <li class="list-group-item">Girls 4x800 Meter Relay</li>
                    <li class="list-group-item">Boys 4x800 Meter Relay</li>
                    <li class="list-group-item">Girls 300 Meter Dash</li>
                    <li class="list-group-item">Boys 300 Meter Dash</li>
                    <li class="list-group-item">Girls 1600 Meter Run</li>
                    <li class="list-group-item">Boys 1600 Meter Run</li>
                    <li class="list-group-item">Girls 55 Meter Hurdles</li>
                    <li class="list-group-item">Boys 55 Meter Hurdles</li>
                    <li class="list-group-item">Girls 55 Meter Dash</li>
                    <li class="list-group-item">Boys 55 Meter Dash</li>
                    <li class="list-group-item">Girls 500 Meter Dash</li>
                    <li class="list-group-item">Boys 500 Meter Dash</li>
                    <li class="list-group-item">Girls Distance Medley</li>
                    <li class="list-group-item">Boys Distance Medley</li>
                    <li class="list-group-item">Girls 4x200 Meter Relay</li>
                    <li class="list-group-item">Boys 4x200 Meter Relay</li>
                    <li class="list-group-item">Girls 800 Meter Run</li>
                    <li class="list-group-item">Boys 800 Meter Run</li>
                    <li class="list-group-item">Girls 4x400 Meter Relay</li>
                    <li class="list-group-item">Boys 4x400 Meter Relay</li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Morning Field Session
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Boys High Jump</li>
                    <li class="list-group-item">Boys Triple Jump</li>
                    <li class="list-group-item">Boys Pole Vault</li>
                    <li class="list-group-item">Girls Shot Put</li>
                    <li class="list-group-item">Girls Long Jump</li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Afternoon Field Session
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Girls High Jump</li>
                    <li class="list-group-item">Girls Triple Jump</li>
                    <li class="list-group-item">Girls Pole Vault</li>
                    <li class="list-group-item">Boys Shot Put</li>
                    <li class="list-group-item">Boys Long Jump</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}