{% extends "wintertrackfest/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h4>Individual Events</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Gender</th>
                        <th>Event</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Athlete</th>
                        <th>School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Boys</td><td>55m Hurdles</td><td>7.63</td><td>12/15/2007</td><td>Zach Ray</td><td>Huntingtown</td>
                    <tr><td>Girls</td><td>55m Hurdles</td><td>8.04</td><td>12/06/2008</td><td>Kristen Brown</td><td>McDonogh    </td>
                    <tr><td>Boys</td><td>55m Dash</td><td>6.4</td><td>12/18/2004</td><td>Tremaine Crayton</td><td>Glenelg</td>
                    <tr><td>Girls</td><td>55m Dash</td><td>7.0</td><td>12/18/2004</td><td>Phobay Kutu-Akoi </td><td>Kennedy</td>
                    <tr><td>Boys</td><td>300m Dash</td><td>35.21</td><td>12/14/2013</td><td>Justin Marsh</td><td>Howard</td>
                    <tr><td>Girls</td><td>300m Dash</td><td>40.75</td><td>12/08/2012</td><td>Gwen Shaw</td><td>Wootton</td>
                    <tr><td>Boys</td><td>500m Dash</td><td>01:05.86</td><td>12/15/2007</td><td>Rico Gomez</td><td>Frederick Douglass</td>
                    <tr><td>Girls</td><td>500m Dash</td><td>01:17.30</td><td>12/06/2008</td><td>Sharon Dorsey</td><td>Western Tech</td>
                    <tr><td>Boys</td><td>800m Run</td><td>01:58.00</td><td>12/18/2004</td><td>Tim Virostek</td><td>Wilde Lake</td>
                    <tr><td>Girls</td><td>800m Run</td><td>02:18.64</td><td>12/18/2004</td><td>Rachel Pocratsky </td><td>Good Counsel</td>
                    <tr><td>Boys</td><td>1600m Run</td><td>04:20.63</td><td>12/14/2013</td><td>Alex Maguire</td><td>Fairfax (VA)</td>
                    <tr><td>Girls</td><td>1600m Run</td><td>05:04.30</td><td>12/08/2012</td><td>Brit Lang </td><td>Oakland Mills</td>
                    <tr><td>Boys</td><td>1 mile Run</td><td>04:25.71</td><td>12/13/2014</td><td>Ryan O'Connor</td><td>Northern</td>
                    <tr><td>Girls</td><td>1 mile Run</td><td>05:05.65</td><td>12/08/2012</td><td>Stephanie Frenchik</td><td>Landstown</td>
                    <tr><td>Boys</td><td>3200m Run</td><td>09:30.49</td><td>12/08/2012</td><td>Jordan Leon</td><td>Milford Mill</td>
                    <tr><td>Girls</td><td>3200m Run</td><td>10:55.23</td><td>12/13/2014</td><td>Kayla Brown</td><td>Thomas Edison</td>
                    <tr><td>Boys</td><td>High Jump</td><td>6-8</td><td>12/06/2008</td><td>Tristan Benton</td><td>North Point</td>
                    <tr><td>Girls</td><td>High Jump</td><td>5-10</td><td>12/12/2009</td><td>Lacey Shuman</td><td>Maryvale Prep</td>
                    <tr><td>Boys</td><td>Triple Jump</td><td>44-5.25</td><td>12/16/2006</td><td>Corryl Boyd</td><td>Westlake</td>
                    <tr><td>Girls</td><td>Triple Jump</td><td>39-7.25</td><td>12/11/2011</td><td>Thea LaFond</td><td>Kennedy</td>
                    <tr><td>Boys</td><td>Pole Vault</td><td>13-6</td><td>12/06/2008</td><td>Richard Wilkerson</td><td>Linganore</td>
                    <tr><td>Boys</td><td>Pole Vault</td><td>13-6</td><td>12/13/2014</td><td>Adam Middlebrook</td><td>Oakdale</td>
                    <tr><td>Girls</td><td>Pole Vault</td><td>10-0</td><td>12/18/2004</td><td>Heather Millford</td><td>Chesapeake-AA</td>
                    <tr><td>Girls</td><td>Pole Vault</td><td>10-0</td><td>12/13/2014</td><td>Hannah Boliek</td><td>Hereford</td>
                    <tr><td>Boys</td><td>Shot Put</td><td>55-10</td><td>12/14/2013</td><td>Collin McKenny</td><td>Huntingtown</td>
                    <tr><td>Girls</td><td>Shot Put</td><td>41-4</td><td>12/14/2013</td><td>Claudia Ababio</td><td>Clarksburg</td>
                    <tr><td>Boys</td><td>Long Jump</td><td>22-7</td><td>12/15/2007</td><td>Zach Ray</td><td>Huntingtown</td>
                    <tr><td>Girls</td><td>Long Jump</td><td>18-10</td><td>12/15/2007</td><td>Christina Manning</td><td>Westlake</td>
                </tbody>
            </table>

            <h4>Relay Events</h4>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Gender</th>
                        <th>Event</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>School</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Boys</td><td>4 x 200m</td><td>01:31.01</td><td>12/18/2004</td><td>Glasgow</td>
                    <tr><td>Girls</td><td>4 x 200m</td><td>01:43.46</td><td>12/13/2014</td><td>Largo</td>
                    <tr><td>Boys</td><td>4 x 400m</td><td>03:29.13</td><td>12/14/2013</td><td>Good Counsel</td>
                    <tr><td>Girls</td><td>4 x 400m</td><td>04:00.91</td><td>12/14/2013</td><td>Oxon Hill</td>
                    <tr><td>Boys</td><td>4 x 800m</td><td>08:17.09</td><td>12/15/2007</td><td>Damascus</td>
                    <tr><td>Girls</td><td>4 x 800m</td><td>09:46.25</td><td>12/15/2007</td><td>Atholton</td>
                    <tr><td>Boys</td><td>Distance Medley Relay</td><td>10:54.03</td><td>12/15/2007</td><td>River Hill (C. Heydrick, T. Tossman, M. Moody, M. Howland)</td>
                    <tr><td>Girls</td><td>Distance Medley Relay</td><td>12:54.93</td><td>12/18/2004</td><td>McDonogh (M. Sybold, A. Glossinger, T. Hare, 4th Runner)</td>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}