{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                <a href="http://www.athletic.net/Help/Track.aspx?Meet=252721" target="_blank"><strong>Please click here
                        to complete your entries on Athletic.net.</strong></a>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Entry Fees</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>$250.00</strong> if entering a boys & girls team from the same school.</li>
                    <li class="list-group-item"><strong>$150.00</strong> for one team (boys or girls).</li>
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Event Limitations and Guidelines</h3>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>Entries close on <a href="http://www.athletic.net/Help/Track.aspx?Meet=252721"
                                                target="_blank">www.athletic.net</a> on Monday, December 7, 2015 at 11:59 PM
                        </li>
                        <li>You may enter 1 relay per gender in the 4x200, 4x400, 4x800m, and DMR.</li>
                        <li>You may only enter 12 individuals entries per gender with a maximum of 2 athletes per
                            event.
                        </li>
                        <li>For the Invitational Distance Medley Relay (DMR), only the top 15 times will be accepted.
                        </li>
                        <li>For the 3200m run, only the top 24 times will be accepted. If your athlete is not accepted,
                            you will be notified and will be given a chance to enter that athlete into another event.
                        </li>
                        <li>All athletes are limited to the 4 events including field events and relays.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}