{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                Heat Sheets will be posted promptly after entries close.
            </div>
        </div>
    </div>
{% endblock %}