{% extends "layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <p>Welcome to the meet information website for the 2015 Howard County Track Festival.</p>
        <p>Please use the links in the menu to find out more about the meet.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Complete Entries on Athletic.net</a></p>
    </div>
{% endblock %}