{% extends "layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <p>Welcome to the meet information website for the 2015 Howard County Winter Track Festival.</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.athletic.net/Help/Track.aspx?Meet=252721"
            target="_blank" role="button">Complete Entries on Athletic.net</a></p>
    </div>
{% endblock %}