{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Payment Due Date
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>FEES ARE DUE NO LATER December 10th.</strong></li>
                    <li class="list-group-item">Payment will <strong>not</strong> be accepted on meet day. Please direct questions to Matt Clever.</li>
                    <li class="list-group-item">You may not team may not participate if payment is not received by meet day.</li>
                </ul>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Payment Information
                </div>
                <div class="panel-body">
                    Make Checks Payable To: Wilde Lake High School<br>
                    Send Entry Fees To:<br>

                    <address>
                      <strong>Wilde Lake High School</strong><br>
                      Attn: Matt Clever<br>
                      5460 Trumpeter Rd.<br>
                      Columbia, MD 21044<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
{% endblock %}