{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rules & Regulations</h3>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>This meet will have Semi's in the 55m Dash, 55m Hurdles. All other events will be finals
                            only, places determined by time. Top 8 times to the finals in both events.
                        </li>
                        <li>Field Events will take the top 9 to finals in the Shot Put, Long Jump and Triple Jump.</li>
                        <li>MPSSAA & Boarding States Sanctioned. MPSSAA rules will be followed.
                            <ol>
                                <li>No Music Players allowed.</li>
                                <li>Jewelry rule will be in effect for all events.</li>
                                <li>Relay Teams must have identical school issued uniforms</li>
                                <li>Starting blocks will be provided</li>
                                <li>There will be weigh-in for throwing implements and pole vault.</li>
                            </ol>
                        </li>
                        <li>FAT Timing will be used.</li>
                        <li>Athletes may not go outside.</li>
                        <li>Contestants must be Accompanied by their coach or school representative.</li>
                        <li>Individual entries will not be accepted. Only team entries will be accepted.</li>
                        <li>Coaches, Managers and Spectators are not allowed on the Track or the Infield. Coaching Boxes will be provided for all field events.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

